form {
  width: 400px;
  padding: 20px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  border: 2px solid rgb(28, 6, 48);
  

}


input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 0px;
}
input[type="submit"]:hover {
  background-color: orangered;
  color: white;
  font-size: 20px;
  cursor: pointer;
 }