* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    margin: auto;

}

form {
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0px auto;
    padding: 30px;
    font-size: bolder;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 5px solid rgb(34, 4, 84);
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}

p {
    text-align: center;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px 10px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    opacity: 0.9;
}

input[type="submit"]:hover {
    background-color: orangered;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#logo{
    width: 35%;
    margin: auto;
    
}
#logo img{
    width: 100%;
   
}