body {
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.428571429;
    background: #fff;
    color: #222;
    font-family: var(--webfont-primary, sans-serif);
}

#bold-wl {
    font-weight: bold;
}

#head-core {
    max-width: 1680px;
    margin: 0 auto;
    padding: 8px 32px 0;
    min-height: auto;
    border-bottom: none;
    display: flex;

    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#header-core-left {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

}

#header-core-left form {
    max-width: 384px;
    position: relative;
    float: left;
    width: 30.4em;
    max-width: 100%;
    z-index: 505;
    min-height: 32px;
    background: #fff;
}

#header-core-left form input {
    width: 100%;
    font-size: 16px;
    height: 48px;
    font-family: var(--webfont-primary, sans-serif);
    color: #666;
    padding: 10px 48px 10px 16px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #666;
    z-index: 3;
    margin-bottom: 0;
    font-weight: 400;

}

#header-core-left form input:hover {
    border: double black;
}

#header-core-left form i {
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 4px 2px;
    background: 0 0;
    font-size: 2.3em;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
}

#logo-container {
    width: 300px;
}

/* border: 1px solid red;  */


#logo-container img {
    width: 90%;

    /* padding: 0px 40px; */

}

#logo-container img {
    width: 90%;



    padding: 0px 120px;

}

#head-core-right {
    position: relative;
    display: flex;
    min-height: 32px;
    box-sizing: content-box;
    flex: 1;
    /* border: 1px solid red; */
    width: 250px;
    justify-content: space-between;
    margin: 30px;
}

#head-core-right a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-size: 14px;
    /* margin: 1mm; */
    color: #222;

}

#head-core-right i {
    font-size: 23px;
    margin: 2mm;
}

#ordersign-in {
    display: flex;
    justify-content: space-between;

}

#head-core-right span {
    font-size: 18px;
    margin: 1mm;
    box-sizing: content-box;
}

#ordersign-in-text {
    margin-top: 2mm;
}


#one-nav {
    position: relative;
    box-sizing: border-box;
    display: block;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

#one-nav div {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;

    align-items: flex-end;
    padding: 0 0;
    margin: 3px 0;
    background: 0 0;

}

#one-nav>div span {
    box-sizing: content-box;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 10px 20px;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
}

#one-nav>div span:hover {
    /* transform: scaleX(1); */
    /* transform-origin: bottom left; */
    border-bottom: 3px solid #222;
}

#one-nav a {

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 0px 20px;
    position: relative;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: inherit;

}

#one-nav a>span:nth-child(1) {
    font-style: bolder;
    font-weight: 700;
}

#two-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
    max-width: 1680px;
    background: unset;
    box-sizing: border-box;
    list-style-type: none;
    background-color: #222;
}

#two-nav li {
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
}

#two-nav li a {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 10px 0;
    border: 0;
    height: auto;
    width: auto;
    overflow: visible;
    white-space: normal;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#two-nav li a:hover {
    border-bottom: 4px solid white;
}

/* nav bar ends */

/* landpage image part begins */

#landpage {
    box-sizing: content-box;
    position: relative;


}

#landpage-image-main {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

#half-imagee {
    position: absolute;
    top: 0%;
    left: 3%;
    width: 6%;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

#landpage-text {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 68%;
}

#landpage-text p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
}


#landpage-text h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
    font-family: var(--webfont-primary, sans-serif);
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;

}

#landpage-text-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

#landpage-text-2 a {
    background-color: transparent;
    color: #222;
    text-decoration: none;
    display: flex;
}

a {
    background-color: transparent;
    color: #222;
    text-decoration: none;
}


#landpage-text-2 p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    color: inherit;


}

#landpage-text-2 i {
    stroke-width: .666;
    color: #222;
    stroke: currentColor;
    max-width: 1em;
    max-height: 12em;
    margin: .8mm;
}

p {
    font-family: var(--webfont-primary, sans-serif);
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
}


#tag-4-container {
    position: relative;
    box-sizing: content-box;
    width: 50%;
}

#tag-5-container {
    position: relative;
    box-sizing: content-box;
    width: 50%;
}

img {
    background-color: transparent;
    color: #222;
    text-decoration: none;
}

#tag-4-image {
    width: 7%;
    position: absolute;
    top: 0.001%;
    left: 4%;
}

#tag-5-image {
    width: 7%;
    position: absolute;
    top: 0.001%;
    left: 4%;
}

#tag-4-image img {
    max-width: 100%;
    width: 100%;
}

#tag-4 {
    width: 100%;
    position: relative;
}

#tag-4-text {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    box-sizing: content-box;

}

#tag-5 {
    width: 100%;
    position: relative;

}

#tag-5-text {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    box-sizing: content-box;

}

#tag-4-text p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    border: 1px solid #222;
    margin: 1em 0 0 0;
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    font-style: normal !important;
    font-weight: 600 !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;
    color: #fff;
    background-color: #222;
    padding: 10px;
}

#tag-4-text h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
    color: #222 !important;
}

#tag-5-text p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    border: 1px solid #222;
    margin: 1em 0 0 0;
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    font-style: normal !important;
    font-weight: 600 !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;
    color: #fff;
    background-color: #222;
    padding: 10px;
}

#tag-5-text h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
    color: #222 !important;
}

#tag-4-5 {
    display: flex;
}



#mid-fullimg-container {
    position: relative;
}



#mid-head {
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: content-box;
}

#mid-head h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
}

#mid-head p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    color: #fff;
    background-color: #222;
    padding: 10px;
    width: fit-content;
    margin: auto;

}

#mid-text {
    position: absolute;
    top: 28%;
    left: 22%;
    box-sizing: content-box;
}

#mid-text p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: 0;
}

#mid-text p i {
    box-sizing: content-box;
    font-weight: 300;
}


#mid-exclusive-container {
    position: relative;
}

#mid-head-ex {
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: content-box;
}

#mid-head-ex h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
}

#mid-head-ex p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    color: #fff;
    background-color: #222;
    padding: 10px;
    width: fit-content;
    margin: auto;

}

#mid-text-ex {
    position: absolute;
    top: 15%;
    left: 5%;
    box-sizing: content-box;
}

#mid-text-ex p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: 0;
}

#mid-text-ex p i {
    box-sizing: content-box;
    font-weight: 300;
}


#mid-kitch-container {
    position: relative;
}

#mid-head-ki {
    position: absolute;
    top: 30%;
    left: 5%;

    text-align: center;
    box-sizing: content-box;
}

#mid-head-ki h2 {
    font-size: calc(27.34px + (38.44 - 27.34) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1;
    letter-spacing: -.02em;
}

#mid-head-ki p {
    font-size: calc(11px + (15.5 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: 1.5;
    letter-spacing: .17vw;
    text-transform: uppercase;
    color: #fff;
    background-color: #222;
    padding: 10px;
    width: fit-content;
    margin: auto;

}

#furniture-container {
    position: absolute;
    left: 50%;
    top: auto;
    text-align: left;
    transform: translateX(-50%);
    /* transform: translateX(0%); */
    z-index: 504;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    width: 100%;
    max-width: 1680px;
    text-align: left;
    display: flex;
    min-height: 400px;
    margin-top: 42px;
    display: none;
}

#furniture-container-mouseover:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}

#furniture-container li {
    text-align: left;
}


#furniture-container>div {
    background: rgba(240, 239, 237, .5);
    padding: 40px 0 40px 40px;
    width: 25%;
    box-sizing: border-box;

}

#table-container {
    position: absolute;
    left: 50%;
    top: auto;
    text-align: left;
    transform: translateX(-50%);
    /* transform: translateX(0%); */
    z-index: 504;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    width: 100%;
    max-width: 1680px;
    text-align: left;
    display: flex;
    min-height: 400px;
    margin-top: 42px;

    display: none;

}

#table-container-mouseover:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}

#table-container li {
    text-align: left;
}


#table-container>div {
    background: rgba(240, 239, 237, .5);
    padding: 40px 0 40px 40px;
    width: 25%;
    box-sizing: border-box;

}

#table-container>div a {
    color: #222;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}

#table-container>div a {
    color: #222;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

#Kitchen-container {
    position: absolute;
    left: 50%;
    top: auto;
    text-align: left;
    transform: translateX(-50%);
    /* transform: translateX(0%); */
    z-index: 504;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    width: 100%;
    max-width: 1680px;
    text-align: left;
    display: flex;
    min-height: 400px;
    margin-top: 42px;

    display: none;

}

#Kitchen-container-mouseover:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}

#Kitchen-container li {
    text-align: left;
}


#Kitchen-container>div {
    background: rgba(240, 239, 237, .5);
    padding: 40px 0 40px 40px;
    width: 25%;
    box-sizing: border-box;

}

h2 {
    font: 400 14px/20px var(--webfont-primary, sans-serif);
    color: #222;
    margin: 5px 0;
    font-weight: 500;
}

#furniture-container>div a {
    color: #222;
    font-weight: 600;
    font-size: 16px;
    /* text-decoration: underline; */
}

#Kitchen-container>div a {
    color: #222;
    font-weight: 600;
    font-size: 16px;
    /* text-decoration: underline; */
}

#table-container>div a {
    color: #222;
    font-weight: 600;
    font-size: 16px;
    /* text-decoration: underline; */
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: none;
}

#furniture-container>div>ul>li>a {
    color: #222;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

#furniture-container>div>ul>li>div {
    display: block;
    position: relative;

}

#furniture-container>div:nth-child(2) {
    width: 23%;
    height: auto;
    box-sizing: border-box;

}

#furniture-container>div:nth-child(3) {
    width: 52%;
    height: auto;
    box-sizing: border-box;

}

#furniture-container>div>h4 {
    text-transform: uppercase;
    margin: 30px;
    font-size: 16px;
    text-align: left;
}

#Kitchen-container>div>ul>li>a {
    color: #222;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

#Kitchen-container>div>ul>li>div {
    display: block;
    position: relative;

}

#Kitchen-container>div:nth-child(2) {
    width: 25%;
    height: auto;
    box-sizing: border-box;

}

#Kitchen-container>div:nth-child(3) {
    width: 48%;
    height: auto;
    box-sizing: border-box;

}

#Kitchen-container>div>h4 {
    text-transform: uppercase;
    margin: 30px;
    font-size: 16px;
    text-align: left;
}


#table-container>div>ul>li>a {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

#table-container>div>ul>li>a:hover {
    color: #222;
    text-decoration-line: underline;
}

#kitchen-container>div>ul>li>a:hover {
    color: #222;
    text-decoration-line: underline;
}

#furniture-container>div>ul>li>a:hover {
    color: #222;
    text-decoration-line: underline;
}

#table-container>div>ul>li>div {
    display: block;
    position: relative;

}

#table-container>div:nth-child(2) {
    width: 25%;
    height: auto;
    box-sizing: border-box;

}

#table-container>div:nth-child(3) {
    width: 48%;
    height: auto;
    box-sizing: border-box;

}

#table-container>div>h4 {
    text-transform: uppercase;
    margin: 30px;
    font-size: 16px;
    text-align: left;
}
#table-container h2{
    font: 400 14px/20px var(--webfont-primary, sans-serif);
    color: #222;
    margin: 5px 0;
    font-weight: 500;
}
footer {
    font-family: var(--webfont-primary, sans-serif);
    background: #333;
    clear: both;
    margin-top: 50px;
}

#footer-one {
    max-width: 1008px;
    margin: 0 auto;
    clear: both;
    box-sizing: content-box;
}

#footer-one>ul {
    display: flex;
    justify-content: center;
    padding: 75px 0 65px;
    border-bottom: solid 1px #666;
}

#footer-one>ul>li {
    display: flex;
    width: 33.33%;
}

#footer-one>ul>li>div:nth-child(1) {
    margin-top: 5px;
    box-sizing: content-box;
    /* border: 2px solid red; */
    text-align: right;

}

#media>h2 {
    padding-left: 30px;
}

#mediaa>div {
    display: flex;
    color: white;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 150px;
    height: 1.5cm;
    margin: 10px;
}

#mediaa i {
    font-size: 20px;
}



#footer-one>ul>li>div:nth-child(1) img {
    width: 40%;
}

#footer-one>ul>li>div:nth-child(1) i {
    width: 100%;
    /* border: 1 px solid red; */
}

.icon-foot {
    border: 2 px solid white;


}

.icon-foot>i {
    font-size: 28px;
}

#footer-one>ul>li>div:nth-child(2) {
    margin-left: 18px;
    padding-right: 30px;


}

#footer-one>ul h2 {
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
}

#footer-one>ul span {
    display: block;
    font-size: 12px;
    color: #ccc;
    line-height: 20px;
    /* text-align: left; */
    text-align: left;

}

#pop-div {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    width: 30%;
    margin: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    height: 2cm;
}

a {
    color: rgba(255, 255, 255, 0.84);
}

#pop-div button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 16px;
    width: 100%;
    background-color: #222;
    border: 0;
}

#pop-div span {
    background-color: #222;
    color: #fff;
}

#pop-div i {
    margin: 5mm 5mm 3mm 1mm;
    font-size: 25px;
}

#nav-ones {
    border-bottom: 1px solid #ccc;
}

#nav-ones>div {
    box-sizing: border-box;
    max-width: 1680px;
    min-height: 40px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#nav-ones ul {
    display: inline-grid;
    grid-auto-flow: column;

    column-gap: 32px;
    margin-right: 16px;
}

box {
    margin: 0;
    min-width: 55px;
    min-height: 24px;
    box-sizing: border-box;
    position: relative;
    display: flex;

    align-items: center;
}

box img {
    position: absolute;
    top: 0;
    width: 60%;
    height: 50%;
    padding: 10px;
    display: inline-flex;

    justify-content: center;

    align-items: center;
    background: 0 0;
    border: 0;
    outline: 0;

}

* {
    -webkit-tap-highlight-color: transparent;

}


#nav-ones ul li {
    display: inline-flex;
    display: flex;

    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 24px;
    position: relative;
    color: inherit;
    color: #666;
    font-weight: 600;
}

#nav-ones-box {
    border: 2px solid #666;
    padding: 2px;
}

#nav-ones ul li:hover {
    border-bottom: 4px solid #222;
    color: #222;
}

#nav-ones ul li:first-child {
    margin-left: 0;
    color: #222;
    font-size: large;
    border-bottom: 4px solid #333;
}


#nav-ones>div>div {
    display: inline-flex;

    align-items: center;
    margin-left: auto;
}

#bold-wl {
    font-weight: bold;
}


#nav-media {
    /* border-bottom: 1px solid #ccc; */
    position: relative;
    top: 0;
    left: 0;
    height: 1.8cm;
    background-color: white;
    display: block;
}

#nav-media>div {
    box-sizing: border-box;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0px 20px 10px 0 px;
    display: flex;
    /* display: inline-flex; */
    width: 100%;
    justify-content: space-between;

}

#nav-media i {
    font-size: 26px;
    margin: 30px;
}

#nav-media-img {
    position: relative;
    top: 0;
    left: 150px;
    right: -50px;

}

#nav-media-img img {
    width: 50%;
}

#nav-media-user-cart {
    display: flex;
    justify-content: space-between;
    /* width: 50px; */
    margin-right: 20px;
}

#media-search {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    border: 1px solid red;
    height: 1.3cm;
    display: none;
}

#media-search form {
    width: 98%;
    margin: auto;
    padding: 5px;
}


#media-search input {
    width: 95%;
    margin: auto;
    height: 1cm;

}

#media-search input::placeholder {
    font-size: larger;
    font-weight: 600;
    margin-left: 6px;

}

#media-search input:click {
    border: double black;
}

#media-search form i {
    font-size: 18px;
    margin: 2mm;

}



#nav-media {
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 2.1cm;
    background-color: white;
    display: none;
}

#nav-media>div {
    box-sizing: border-box;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0px 20px 10px 0 px;
    display: flex;
    /* display: inline-flex; */
    width: 100%;
    justify-content: space-between;

}

#nav-media i {
    font-size: 26px;
    margin: 30px;
}

#nav-media-img {
    position: relative;
    top: 0;
    left: 150px;
    right: -50px;

}

#nav-media-img img {
    width: 50%;
}

#nav-media-user-cart {
    display: flex;
    justify-content: space-between;
    /* width: 50px; */
    margin-right: 20px;
}


#media-search {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    border: 1px solid red;
    height: 1.3cm;
    display: none;
}

#media-search form {
    width: 98%;
    margin: auto;
    padding: 5px;
}


#media-search input {
    width: 91%;
    margin: auto;
    height: 1cm;

}

#media-search input::placeholder {
    font-size: larger;
    font-weight: 600;
    margin-left: 6px;

}

#media-search input:click {
    border: double black;
}

#media-search form i {
    font-size: 18px;
    margin: 2mm;
    width: 5%;

}



#head-core {
    max-width: 1680px;
    margin: 0 auto;
    padding: 8px 32px 0;
    min-height: auto;
    border-bottom: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* position: fixed;
 top:2%;
 background-color: white;
z-index: 10; */

}

/* 
body::-webkit-scrollbar{
    display: block;
} */


#header-core-left {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

}

#header-core-left form {
    max-width: 384px;
    position: relative;
    float: left;
    width: 30.4em;
    max-width: 100%;
    z-index: 505;
    min-height: 32px;
    background: #fff;
}

#header-core-left form input {
    width: 100%;
    font-size: 16px;
    height: 48px;
    font-family: var(--webfont-primary, sans-serif);
    color: #666;
    padding: 10px 48px 10px 16px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #666;
    z-index: 3;
    margin-bottom: 0;
    font-weight: 400;

}

#header-core-left form input:hover {
    border: double black;
}

#header-core-left form i {
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 4px 2px;
    background: 0 0;
    font-size: 2.3em;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
}

#logo-container {
    width: 400px;
    /* border: 1px solid red; */
}

#logo-container img {
    width: 90%;

    padding: 0px 40px;

}

#head-core-right {
    position: relative;
    display: flex;
    min-height: 32px;
    box-sizing: content-box;
    flex: 1;
    /* border: 1px solid red; */
    width: 250px;
    justify-content: space-between;
    margin: 30px;
}

#head-core-right a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-size: 14px;
    /* margin: 1mm; */
    color: #222;

}

#head-core-right i {
    font-size: 23px;
    margin: 2mm;
}

#ordersign-in {
    display: flex;
    justify-content: space-between;

}

#head-core-right span {
    font-size: 18px;
    margin: 1mm;
    box-sizing: content-box;
}

#ordersign-in-text {
    margin-top: 2mm;
}
#header-menu{
    background: #fff;
    width: 100%;
    height: 100%;
    max-width: 375px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: fixed;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
left:-500px;
top:0

}
#cross-sym{
    background: #222;
     display: flex;
  justify-content: space-between;
   align-items: center;
    flex-flow: wrap;
    padding: 0 10px;

}
#cross-sym i{
    background: 0 0;
    border: none;
    stroke-width: 2px;
    color: #fff;
    display: block;
    font-size: 20px;
    width: 2.4em;
    height: 2.4em;
    max-width: 48px;
    max-height: 48px;
    padding: 15px 0px 0px 20px;
}
    #cross-sym span{
 margin: 0 6px;
 color: #fff;
}   
#header-menu button{
    background: #fff;
    border-color: #fff;
    color: #222;
    border: 1px solid #666;
    border-bottom: none;
    padding: 16px;
    margin: 0 4px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

 #header-menu button span{
        max-height: 15px;
    max-width: 100%;
    font-weight: 800;
    font-size: 18px;
    }
    #header-menu button span::first-letter{
        color: red;
    }

        #header-menu >div:nth-child(3){
  padding-bottom: 150px;
        }
            #header-menu ul li{
                padding:10px ;
                border-top: 1px solid #f0efed;
                overflow: hidden;
 font-weight: 500;
            }
            #header-menu ul li:hover{
               zoom: 1.05;
               font-weight: 600;
            }
                #header-menu ul{
     padding-left: 16px;
                }
@media (min-width: 200px) and (max-width: 800px) {

    #nav-media,
    #media-search {
        display: block;
    }

    #nav-ones,
    #head-core,
    #one-nav,
    #two-nav {
        display: none;
    }

    #tag-4-5 {
        flex-direction: column;
    }

    #tag-4-container,
    #tag-5-container {
        width: 100%;
    }

    footer{
        flex-wrap: wrap;
    }

}